admin/uploads
admin/leave_doc
admin/course_material
**/*.pdf

admin/uploads/*.pdp
admin/uploads/*.jpg
admin/uploads/*.jpeg




vendor/
tinymce/
PHPMailer/
online_exam/
maxcdn.bootstrapcdn.com/
doc/ 
cdnjs.cloudeflare.com/





